[Desktop Entry]
Version=1.0
Type=Application
Name=1. Camera Focus
Comment=Calibrate ROI positions and lens focus
Exec=bash -c "sudo systemctl stop filaboss-machine-vision && cd '/home/filaboss/FilaBoss/python_lcd_ui/Camera Calibration' && DISPLAY=:0 python3 camerafocus.py; sudo systemctl start filaboss-machine-vision"
Terminal=true
Icon=camera
Categories=Utility;
